.loginBody {
  background-color: var(--color-background-dark);
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('/LoginImage.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  margin: 0; 
  overflow: hidden; 
}

:root {
  --color-background-dark: #141217;
  --color-background-light: #36383f;
  --color-text: #f0e8e8;
  --color-text-muted: #f0e8e8;
  --color-muted-strong: #5c6d96;
  --color-primary: #be2828;
  --color-primary-hover: #be2828;
  --color-border: #f0e8e8;
  --color-highlight: #4caf50;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.forgotPass{
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: var(--color-text);
  cursor: pointer;
}

.cont {
  display:flex;
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background: var(--color-background-light);
  border-radius: 50px;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
  margin-top: 25px;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: var(--color-background-light);
  transition: transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: var(--color-text);
  font-size: 15px;
  cursor: pointer;
  background: var(--color-primary);
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url('/LoginBackground.png');
  background-size: cover;
  transition: transform 1.2s ease-in-out;
  transform: translate3d(-614px, 0, 0);
}

.cont.s--signup .img:before {
  transform: translate3d(0px, 0, 0); 
}

.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: var(--color-text);
  transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
  transform: translateY(-50%);
}


.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

.img__text p {
  font-size: 14px;
  line-height: 1.5;
}

.img__text.m--up {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

.cont.s--signup .img__text.m--up {
  opacity: 0;
  transform: translateY(-50%) translateX(100%);
}

.img__text.m--in {
  opacity: 0;
  transform: translateY(-50%) translateX(-100%);
}

.cont.s--signup .img__text.m--in {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  background: transparent;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.img__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-text);
  border-radius: 30px;
}

.img__btn span {
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
  transform: translateY(-50%);
  opacity: 1;
}

.img__btn span.m--in {
  opacity: 0;
  transform: translateY(-50%) translateY(50px); 
}

.cont.s--signup .img__btn span.m--in {
  opacity: 1;
  transform: translateY(-50%) translateY(0); 
}

.img__btn span.m--up {
  opacity: 1;
  transform: translateY(-50%) translateY(0); 
}

.cont.s--signup .img__btn span.m--up {
  opacity: 0;
  transform: translateY(-50%) translateY(-50px); 
}

.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  font-size: 12px;
  color: var(--color-text-muted);
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: var(--color-primary-hover);
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid var(--color-border);
  color: var(--color-text-muted);
}

.fb-btn span {
  font-weight: bold;
  color: var(--color-muted-strong);
}

.sign-in {
  position: relative; 
  left: -120px; 
  top: 20px; 
  transition: transform 1.2s ease-out; 
}

.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}


.sign-up {
  transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}

.icon-link img {
  width: 100%;
  vertical-align: top;
}

.submit {
  display: block;
  margin: 25px auto 0; 
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: var(--color-text);
  font-size: 15px;
  cursor: pointer;
  background: var(--color-primary-hover);
  border: none;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: var(--color-text);
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px var(--color-highlight);
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  margin: 25px auto 0;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  fill: none;
  animation: stroke 0.6s ease-in-out forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s ease-in-out 0.8s forwards;
}

.text-darker {
  color: var(--color-text);
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4caf50;
  }
}
