:root {
    --linen: #e9e2d5;
    --oyster: #d4c1ab;
    --pewter: #857567;
    --lemon: #dfb72c;
    --font: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    --padding: 12px;
  }
  
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  *:focus {
    outline: none !important;
  }
  
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    color: var(--pewter);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: white;
  }
  
  main {
    background: white;
    height: 100%;
  }
  
  main.with-hover aside p {
    transition: all 250ms ease-out;
  }
  
  main.with-hover section h1 a {
    transition: all 150ms ease-out;
  }
  
  main.with-hover section h1 a:hover,
  main.with-hover section h1 a:focus {
    transition: all 300ms ease-out;
  }
  
  main.with-hover section h1 a:active {
    transition: all 150ms ease-in;
  }
  
  aside {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: calc(100% / 3);
    padding: var(--padding);
    background: var(--lemon) url("https://images.unsplash.com/photo-1443131307017-4097c8ac7763?dpr=2&auto=format&fit=crop&w=1500&h=1909&q=80&cs=tinysrgb") no-repeat center center / cover;
  }
  
  aside div:empty {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--lemon) url("https://images.unsplash.com/photo-1443131307017-4097c8ac7763?dpr=2&auto=format&fit=crop&w=1500&h=1909&q=80&cs=tinysrgb") no-repeat center center / cover;
    background-blend-mode: screen;
  }
  
  aside svg {
    position: relative;
    margin-top: calc(-1 * var(--padding) * 2);
    width: 150px;
    height: 150px;
  }
  
  aside div:not(:empty) {
    position: relative;
    width: 100%;
    margin-top: calc(-1 * var(--padding) * 2);
  }
  
  aside p {
    position: relative;
    width: 100%;
    margin: 0;
    color: white;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 0 10px rgba(var(--pewter), 0.5);
  }
  
  aside p.strong {
    font-weight: 700;
  }
  
  aside p:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  aside p.active {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
  
  aside p:not(.active) {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
  }
  
  section {
    position: relative;
    height: calc(100% / 3 * 2);
  }
  
  section h1 {
    display: flex;
    justify-content: center;
    padding: var(--padding);
    color: var(--lemon);
    font-size: 28px;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
  }
  
  section h1 a {
    display: block;
    margin: 0 calc(var(--padding) / 2);
    cursor: pointer;
    transform: none;
  }
  
  section h1 a:hover,
  section h1 a:focus {
    color: var(--pewter);
  }
  
  section h1 a.active {
    font-weight: 500;
  }
  
  section h1 a:not(.active) {
    font-weight: 300;
  }
  
  form {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
  }
  
  form > div,
  form > ul {
    width: 100%;
    padding: calc(var(--padding) / 2);
  }
  
  fieldset {
    padding: calc(var(--padding) / 2);
  }
  
  fieldset div {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
  }
  
  fieldset div label {
    display: block;
    margin: 0;
    padding: calc(var(--padding) / 2) calc(var(--padding) * 0.75);
    background: var(--lemon);
    color: white;
    font-size: 16px;
    cursor: pointer;
    line-height: 25px;
  }
  
  fieldset div input {
    display: block;
    background: white;
    border: 1px solid var(--lemon);
    border-left: 0;
    border-radius: 0 2px 2px 0;
    box-shadow: none;
    margin: 0;
    padding: calc(var(--padding) / 2) calc(var(--padding) * 0.75);
    width: 100%;
    color: var(--pewter);
    font-family: var(--font);
    font-size: 16px;
  }
  
  fieldset div input::placeholder {
    color: rgba(var(--pewter), 0.4);
  }
  
  fieldset div input:focus {
    background: rgba(var(--linen), 0.5);
  }
  
  fieldset div input:focus::placeholder {
    color: rgba(var(--pewter), 0.6);
  }
  
  ul li button {
    display: block;
    margin: 0 auto;
    appearance: none;
    font-family: var(--font);
    border: 0;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    padding: calc(var(--padding) / 2) var(--padding);
    cursor: pointer;
  }
  
  ul li button.fb {
    background: #3b5998;
  }
  
  ul li button.tw {
    background: #00aced;
  }
  
  input[type="submit"] {
    display: block;
    align-self: flex-end;
    appearance: none;
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    font-family: var(--font);
    font-size: 24px;
    text-transform: lowercase;
    line-height: 2;
    background: var(--lemon);
    color: white;
    cursor: pointer;
  }
  
  form.active {
    opacity: 1;
    z-index: 1;
  }
  
  form:not(.active) {
    opacity: 0;
    z-index: 0;
  }
  
  @media only screen and (min-width: 624px) {
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #d4c1ab;
    }
  
    main {
      display: flex;
      border-radius: 2px;
      overflow: hidden;
      height: 100%;
      max-height: 400px;
      box-shadow: 0 0 10px rgba(133, 117, 103, 0.5);
    }
  
    aside,
    section {
      height: 100%;
      width: 300px;
    }
  }
  